{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
   "@typescript-eslint/preffer-interfaces": "off"
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
